{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to HiBye Messenger</h1>
    <p class="lead">This is a simple messenger app built with Django.</p>
    <hr class="my-4">
    <p>Use the navigation bar to explore the features or use the quick links below:</p>
    <div class="list-group">
        <a href="{% url 'groups' %}" class="list-group-item list-group-item-action">Groups</a>
        <a href="{% url 'transactions' %}" class="list-group-item list-group-item-action">Wallet</a>
        <a href="{% url 'private_chat' %}" class="list-group-item list-group-item-action">Private Chat Requests</a>
    </div>
</div>
{% endblock %}